.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.filter-attribute-id-select{
    padding-right: 0px;
}
.filter-attribute-val-select{
    padding-left: 0px;
}

.tree-side{
    height: 100%;
    overflow-y: scroll;
}

.testcase-side{
    height: 100%;
    overflow-y: scroll;
}

.clickable{
    cursor: pointer;
}
